@import "Components/status-bar.css";
@import "reset.css";
@import "variables.css";

.welcome-header{
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.welcome-header__title{
    font-size:25px;
    margin-bottom: 25px;
    font-weight: 400;
}

.welcome-header__text_top{
    opacity: 0.4;
    width:50%;
    font-size: 18px;
    text-align: center;
}
.welcome-header__text_bottom{
    opacity: 0.4;
    width:70%;
    font-size: 18px;
    text-align: center;
}
 
#login-form {
    display:flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    padding: 10px 0px;
    font-size: 19px;
    border: none;
    margin-bottom: 25px;
}

#login-form input:not([type="sumbit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#login-form input[type="submit"]{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--yellow);
    padding: 15px 0px;
}
#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4)
}

#login-from input:focus{
    border-color: rgba(0, 0, 0, 0.4);
    outline: none;
}

#login-form a{
    text-align: center;
    color:inherit;
    text-decoration:none;
}